@use '@/styles/animation.scss' as mixin;

@include mixin.rotateShow();

.logo {
  display: block;
  object-fit: contain;
  justify-self: center;
  animation: rotateShow 2s forwards;
}

.container {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 16px;
}

.info {
  width: 240px;
  .time {
    color: #aaaaaa;
  }
  h3 {
    color: gold;
  }
}
