@keyframes moving {
  0% {
    transform: rotate3d(-1, -1, 0, 30deg);
  }
  25% {
    transform: rotate3d(-1, 1, 0, 30deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, 30deg);
  }
  75% {
    transform: rotate3d(1, -1, 0, 30deg);
  }
  100% {
    transform: rotate3d(-1, -1, 0, 30deg);
  }
}

.logo {
  display: block;
  object-fit: contain;
  justify-self: center;
  animation: moving 10s infinite linear;
}

.container {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 16px;
}

.info {
  width: 240px;
  .time {
    color: #aaaaaa;
  }
  h3 {
    color: gold;
  }
}
