@use '@/styles/animation.scss' as mixin;

@include mixin.rotate3D(20deg);
@include mixin.rotateShow();

.imageWrapper {
  position: relative;
  align-self: center;
  justify-self: center;
  margin-bottom: 16px;
  animation: rotating 10s infinite linear;
}
.profPic {
  display: block;
  border-radius: 50%;
  border: 2px solid var(--accent);
  animation: rotateShow 2s forwards;
}
