@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.container {
  padding: 0 16px;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
}

.mobileContainer {
  position: fixed;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.ticker {
  padding: 8px;
  margin: 16px;
  border-radius: 8px;
  background-color: #3a3a3a;
  border: 1px solid var(--dim);

  a {
    font-weight: bold;
  }
}

.icon {
  animation: rotate 2000ms linear infinite;
}
