.wrapper {
  position: relative;
  overflow: hidden;

  .arrowBtn {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - 24px);
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 50%;
    background: #393939;
    z-index: 1;
    transition: transform 200ms;
    &[data-pos='left'] {
      left: 12px;
      transform: translateX(-60px);
    }
    &[data-pos='right'] {
      right: 12px;
      transform: translateX(60px);
    }
    svg {
      pointer-events: none;
    }

    &[data-show] {
      &[data-pos='left'] {
        transform: translateX(-42px);
      }
      &[data-pos='right'] {
        transform: translateX(42px);
      }
    }
  }

  &:hover .arrowBtn[data-show] {
    transform: translateX(0);
  }
}

.carousel {
  overflow-x: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 14px 14px 0 0;
  margin-bottom: 8px;
  scroll-snap-type: x mandatory;

  .item {
    flex: none;
    scroll-snap-align: center;

    img,
    video {
      display: block;
    }
    video {
      width: 100%;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
