.wrapper {
  position: relative;
}

.container {
  width: 100%;
  max-width: 412px;

  @media only screen and (min-width: 668px) {
    max-width: 632px;
  }

  @media only screen and (min-width: 1000px) {
    max-width: 980px;
  }
}

.scroll {
  height: 60vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 32px;
}

.shadow {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms;

  &[data-type='top'] {
    top: 0;
    background-image: linear-gradient(to top, transparent, var(--background));
  }
  &[data-type='bot'] {
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      transparent,
      var(--background)
    );
  }
  &[data-visible] {
    opacity: 1;
  }
}

.indicator {
  height: 1px;
}

.end {
  text-align: center;
  margin: 32px 0;
  color: var(--dim);
}
