.dialogModifier {
  width: auto;
  min-width: 200px;
  padding: 72px 0 16px;
  border: none;
  background: var(--background) url('/src/assets/bg_pattern.png') center;
  h2 {
    position: absolute;
    top: 16px;
    left: -16px;
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0;
    padding: 0 16px 0 32px;
    border-radius: 8px;
    background-color: var(--accent);
  }

  h3,
  h4 {
    margin: 0 0 4px;
  }
}

.closeBtn {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 8px;

  &:focus-visible {
    outline: 2px solid turquoise;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 32px;
    top: 4px;
    left: calc(50% - 2px);
    border-radius: 2px;
    background-color: #666666;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: #acacac;
    }
  }
}

.container {
  overflow-y: auto;
  max-height: calc(100vh - 120px);
  padding: 0 16px;
}
