@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.mobileContainer {
  position: fixed;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.ticker {
  padding: 8px;
  margin: 16px;
  border-radius: 8px;
  background-color: #3a3a3a;
  border: 1px solid #aaaaaa;

  a {
    font-weight: bold;
  }
}

.icon {
  animation: rotate 1000ms linear infinite;
}
