@keyframes pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shining {
  0% {
    transform: translateX(-100%) skew(-20deg, 0);
  }
  25%,
  100% {
    transform: translateX(100%) skew(-20deg, 0);
  }
}

.wrapper {
  padding: 20px 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  width: 768px;
  height: 633px;
  padding: 36px 0;
  background-color: #4f4f54;
  border-top: 2px solid #8a8a8a;
  border-bottom: 2px solid #484848;
  background: #4f4f54 url('/src/assets/front-page.png') 20px 20px / 728px 593px
    no-repeat;
}

.startBtn {
  all: unset;
  box-sizing: border-box;
  display: block;
  position: relative;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.5rem;
  width: 150px;
  text-align: center;
  padding: 16px 0;
  color: #373737;
  border-radius: 16px;
  border-bottom: 5px solid #ffaf0c;
  background-color: #ffe36f;
  transition: all 250ms;

  &:hover {
    animation: pulsing 1s infinite;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      transparent 10%,
      rgba(255, 255, 255, 0.75) 10%,
      rgba(255, 255, 255, 0.75) 30%,
      transparent 30%,
      transparent 50%,
      rgba(255, 255, 255, 0.75) 50%,
      rgba(255, 255, 255, 0.75) 90%,
      transparent 90%
    );
    animation: shining 4s infinite;
  }

  b {
    position: relative;
    z-index: 1;
  }
}

.warning {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.8;
}
