.wrapper {
  padding: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 633px;
  background-color: #4f4f54;
  border-top: 2px solid #8a8a8a;
  border-bottom: 2px solid #484848;
  background-image: url('/src/assets/bg_pattern.png');
}

.inner {
  position: relative;
  margin-top: 50px;
}

.img {
  position: absolute;
  z-index: 1;
  left: calc(50% - 75px);
  top: -70px;
  transition: all 250ms;
}

.startBtn {
  all: unset;
  box-sizing: border-box;
  display: block;
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 1.5rem;
  width: 150px;
  text-align: center;
  padding: 16px 0;
  border-radius: 16px 16px 8px 8px;
  border-bottom: 5px solid #2b2b2b;
  background-color: #373737;
  transition: all 250ms;

  &:hover {
    color: gold;
    font-size: 1.6rem;
    + img {
      top: -125px;
    }
  }
}

.warning {
  position: absolute;
  bottom: 36px;
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.8;
}
